
.DS_Store
~$neralCalendar.docx
PDA/slides/01introduction.aux
PDA/slides/01introduction.log
PDA/slides/01introduction.nav
PDA/slides/01introduction.synctex.gz
PDA/slides/01introduction.toc
PDA/slides/live.aux
PDA/slides/references.aux
PDA/slides/01introduction.snm
