
.DS_Store
~$neralCalendar.docx
PDA/slides/01introduction.aux
PDA/slides/01introduction.log
PDA/slides/01introduction.nav
PDA/slides/01introduction.synctex.gz
PDA/slides/01introduction.toc
PDA/slides/live.aux
PDA/slides/references.aux
PDA/slides/01introduction.snm
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/slides/01introduction.log
PDA/slides/01introduction.synctex.gz
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_01ConsoleIOandVariables-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_02DataTypesAndOperations-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections_old-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/_03Collections.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/__pycache__/auto_testing.cpython-38.pyc
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_WC_Assignments-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/manzoni_1-checkpoint.txt
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/MyRestaurant_AD_Reviews-checkpoint.txt
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/negative-words-checkpoint.txt
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/positive-words-checkpoint.txt
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/stopwords_italian-checkpoint.txt
PDA/jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-38.pyc
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/auto_testing-checkpoint.py
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/kahootps-checkpoint.jpeg
PDA/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/kahootps_class5-checkpoint.jpeg
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/*
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/03Collections-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/_04ControlAndRepetitionStatements-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/csv/covid19/.ipynb_checkpoints/dpc-covid19-ita-andamento-nazionale_24_06_2021-checkpoint.csv
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/csv/covid19/.ipynb_checkpoints/dpc-covid19-ita-andamento-nazionale_20_02_2022-checkpoint.csv
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/04ControlAndRepetitionStatements-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/_05Functions.ipynb

PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05Functions-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/05WordCloudCovid-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/_06ModulesExceptionsAndOOP.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/__pycache__/test_import_py.cpython-310.pyc
PDA/jupyter/jupyterNotebooks/otherpath/__pycache__/test_import_py_Copy1.cpython-310.pyc
PDA/jupyter/jupyterNotebooks/data.txt
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/06ModulesExceptionsAndOOP-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/lastKahootMeme-checkpoint.JPG
PDA/jupyter/jupyterNotebooks/images/.ipynb_checkpoints/lastKahootMeme2-checkpoint.jpeg
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/covid_lastday.csv
PDA/jupyter/jupyterNotebooks/covid_lastday_b.csv
PDA/jupyter/jupyterNotebooks/covid_more_than_10k.csv
PDA/jupyter/jupyterNotebooks/covid_more_than_25k.csv
PDA/jupyter/jupyterNotebooks/_07NumPy_Pandas.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
