
.DS_Store
~$neralCalendar.docx
PDA/slides/01introduction.aux
PDA/slides/01introduction.log
PDA/slides/01introduction.nav
PDA/slides/01introduction.synctex.gz
PDA/slides/01introduction.toc
PDA/slides/live.aux
PDA/slides/references.aux
PDA/slides/01introduction.snm
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/slides/01introduction.log
PDA/slides/01introduction.synctex.gz
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07Course_closing-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_01ConsoleIOandVariables-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/07NumPy_Pandas-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/Untitled-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
PDA/jupyter/jupyterNotebooks/.ipynb_checkpoints/in_class_02DataTypesAndOperations-checkpoint.ipynb
